@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2563eb;
  --color-dark-theme-bg: #111827;
  --color-dark-theme-fg: #1f2937;
  
}

  /*  format to put a color = --color-(color name) : (hex for the color) ; */
  